#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@ --with phpcomposer

override_dh_auto_test:
	echo tests temporarly skipped for now in rules file

override_dh_prep:
	mkdir -p docs
	phpdoc -d src
	mkdir -p docs ; mv .phpdoc/build/* docs
	dh_prep


override_dh_install:
	dh_install
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/php-vitexsoftware-ease-bootstrap5-widgets-abraflexi/usr/share/php/EaseTWB5WidgetsAbraFlexi/autoload.php
	sed -i "s|: 'unknown'|: '$(PKG_SOURCE)'|" \\
		debian/php-vitexsoftware-ease-bootstrap5-widgets-abraflexi/usr/share/php/EaseTWB5WidgetsAbraFlexi/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
		debian/php-vitexsoftware-ease-bootstrap5-widgets-abraflexi/usr/share/php/EaseTWB5WidgetsAbraFlexi/autoload.php
